/* Mulai code Anda dari baris terakhir */

* {
  box-sizing: border-box;
}

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Bookman Old Style";
}

.container {
  max-width: 1100px;
  padding: 0 40px;
  margin: 0 auto;
}

header {
  height: 80px;
  width: 100%;
  background-color: rgb(47, 79, 79);
}

.header-left {
  float: left;
  color: white;
  font-size: 16px;
  line-height: 70px;
  margin-left: -25px;
}

.header-right {
  float: right;
  margin-right: -30px;
}

.header-right a {
  line-height: 70px;
  padding: 0 20px;
  color: white;  
  font-size: 14px;
  float: left;
  
}
.top-wrapper {
  padding: 140px 0 100px 0;
  background-image: url('indonesia.jpg');
  background-size: cover;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.8;
  font-size: 45px;
  font-family: Lucida Console;
  letter-spacing: 2px;
  margin-bottom: 20px;
  color: white;
}

.top-wrapper p {
  opacity: 0.8;
  margin-bottom: 3px;
  font-family: Lucida Console;
}
.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}
.find {
  background-color: #239b76;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

/* code extra */






/* code footer */
.footer {
  background-color: #e0e0e0;
  color: #030303;
  height: 220px;
  padding: 20px;
}

.footer-logo {
  float: left;
  font-size: 28px;
}

.footer-list {
  float: right;
}

.footer-list li {
  padding-bottom: 20px;
}
